<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <div style="color: red;font-family: 'Courier New', Courier, monospace; font-size: 150px;font-weight: 800; text-align: center; padding-top: 100px;">OOPS!</div>
    <div style="color: blue;text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 50px; font-weight: 800;">404 PAGE NOT FOUND</div>
    <br>
    <div style="color:brown; font-size: 20px; font-family: cursive; text-align: center;">The page you are looking for might have been removed <br>
    had its name changed or is temporarily unavailable !!!.
    </div>
</body>
</html>